*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    margin:0;
    height:100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    background:white;
    width:380px;
    padding:40px;
    border-radius:16px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

h1{
    margin:0;
    color:#333;
}

.subtitle{
    color:#777;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
    font-size:16px;
    outline:none;
    margin-bottom:25px;
}

input:focus{
    border-color:#667eea;
}

.buttons{
    display:flex;
    gap:15px;
}

button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.register{
    background:#667eea;
}

.attendance{
    background:#00b894;
}

button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

#msg{
    margin-top:25px;
    font-size:16px;
    font-weight:500;
    color:#333;
}
